{
    "presets": ["@babel/preset-env"],
    "plugins": [
      [
        "module-resolver",
        {
          "extensions": [".js", ".ts", ".jsx", ".tsx"],
          "alias": {
            "@": "./src"
          }
        }
      ]
    ]
  }
  